

.body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color:#F5DEB3;
	margin: 0;
}

.header-style {
font: 12px Tahoma, sans-serif;
}

.wrapper {
	display: flex;
	min-height: 100%;
	overflow: hidden;
	flex-direction: column;
	width: 100%;
	margin: auto;
	overflow-x: auto;
	background-color: #F5DEB3;
}


.container {
	max-width:1140px;
	height: 100%;
	margin: auto;
	padding: 15px 15px;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;

}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #64616b;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.block-breed {
	width: 40%;
	height: 40%;
	text-align: center;
}

.block-breed li a {
	text-decoration: none;
	font-size: 30px;

}

.block-ovcharka {
	background-image: url(/img/nemeckaya-ovcharka-01.jpg);
	background-size: cover;
	width: 100%;
	height: 80%;
}


.section-1 {
 background-image: url(/img/фон2000.png);
 background-size: cover;
	width: auto;
	height: 900px;
}

.section-2 {
	background-color: #FFFFFF;
	width: auto;
	height: 600px;


}
.section-3 {
	width: auto;
	height: 600px;
}
.section-4 {
	width: auto;
	height:900px;
}

.head-text {
	position: relative;
	fbackground-color: #FFFFFF;
	width: 50%;
	height: 50%;
	fcolor: #F5DEB3;
	color:  #FFFFFF;
	font-size: 50px;
}

.head-text p {
	color:  #FFFFFF;
}


.text {
	position: relative;
	top: 10px;
	left: 10px;
	margin: auto;
	width: 200px;
	height: 160px;
	color:  #FFFFFF;
	font-size: 30px;
}

.social-network {
	position: relative;
	top: 100px;
	background-color: #F5DEB3;
	width: 20%;
	height: 30%;

}

.link-block {
	position: relative;
	top:120px;
	margin: auto;
	width: 70%;
	height: 20%;
}

.text-social {
	position: relative;
	top:10px;
	margin: auto;
	width: 70%;
	height: 20%;
	font-size: 30px;
	color: #FFFFFF;
}

.foto-img-1 {
	position: relative;
	width: 40%;
	height: 60%;
	left: 15%;
  bottom: 40%;
	background-image: url(/img/щенок.png);
  background-size: cover;
}

.block-care {
	position: relative;
	width: 40%;
	height: 60%;
	left: 40%;
  top: 15%;
	background-color: #F5DEB3;

}

.text-care{
	position: relative;
	left: 45%;
	top: 15%;
	width: 50%;
	height: 80%;
	color: #FFFFFF;
	font-size: 30px;
}

.text-care li {
	display: inline-block;
	position: relative;
	top: 10%;
	color: #FFFFFF;
	font-size: 20px;
}

.text-care a {
text-decoration: none;
}

.footer{
		width: auto;
		height: 100px;
		background-color: #FFFFFF;

}
.info-text  {
	position: relative;
	text-align: center;
	margin: auto;
	width: 100%;
	height: 15%;
	color: #FFFFFF;
	font-size: 50px;
}

.foto-img-2 {
	position: relative;
	top: 10%;
	width: 40%;
	height: 60%;
	left: 15%;

	background-image: url(/img/dressirovka-sobaki-kinologom-1.jpg);
  background-size: cover;
}

.block-1 {
	position: relative;
	text-align: center;
	bottom:55%;
	left: 60%;
	width: 30%;
	height: 30%;
	color:  #64616b;
	font-size: 30px;
	background-color: #FFFFFF;

}

.text-competition {
	position: relative;
	width: 80%;
	height: 80%;
	margin: auto;
	top: 10%;
}

.text-competition li {
	display: inline-block;
	position: relative;
	top: 15%;
	color: #FFFFFF;
	font-size: 20px;
}
.text-competition a {
	text-decoration: none;
}

.block-2 {
	position: relative;
	text-align: center;
	bottom:45%;
	left: 60%;
	width: 30%;
	height: 30%;
	color:  #64616b;
	font-size: 30px;
	background-color: #FFFFFF;

}

.block-2 li {
	display: inline-block;
	position: relative;
	top: 10%;
	color: #FFFFFF;
	font-size: 20px;
	text-decoration: none;
}
.block-2 a {
	text-decoration: none;
}

.text-article {
	position: relative;
	top: 10px;
	margin: auto;
	width: 100%;
	height: auto;
	color:  #64616b;;
	font-size: 30px;
}


@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #64616b;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
		  content: "";
		  position: absolute;
		  height: 4px;
		  top: auto;
		  right: 50%;
		  bottom: -5px;
		  left: 50%;
		  background: #feb386;
		  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}


@media (max-width: 1900px) {
	.section-1{
			background-image: url(/img/фон1900.png);
		 	height: 900px;
	}
}

@media (max-width: 1200px) {
	.container {
			max-width: 987px;
			margin: auto;

}
	.section-1{
			background-image: url(/img/фон1900.png);
		 	height: 800px;
	}

	.social-network {
		width: 30%;
		height: 30%;
	}
}
@media (max-width: 992px) {
	.container{
			max-width:720px;
			margin: auto;
	}
	.section-1{
			background-image: url(/img/фон9002.png);
		 	height: 1020px;
			background-size: сover;
	}
	.foto-img-2 {
		width: 50%;
		left: 10%;
		background-image: url(/img/инфо992.png);
	}
}

@media (max-width: 768px) , (orietation: landscape) {
	.container{
			max-width:540px;
			margin: auto;

	}
	.section-1{
			background-image: url(/img/фон900.png);
		 	height: 1030px;
	}
	.head-text {
		width: 100%;
		font-size: 30px;
	}
	.social-network {
		top: 15%;
		width: 50%;
		height: 30%;
	}

	.text-care {
		top:15%;
		width: 50%;
		font-size: 20px;
	}

	.text-care li {
		top: 10%;
		font-size: 15px;
	}
	.info-text  {
		font-size: 45px;
	}
	.block-1 {
		left: 65%;
		width: 35%;
		bottom:52%;
		font-size: 20px;
	}

	.block-1 li {
		font-size: 20px;
	}

	.block-2 {
		left: 65%;
		width: 35%;
		bottom:48%;
		font-size: 20px;
	}

	.block-2 li {
		font-size: 20px;
	}


}

@media (max-width: 550px) {
	.menu-main {padding-top: 0;}
	.menu-main li {display: block;}
	.menu-main li:after {content: none;}
	.menu-main a {
		  padding: 25px 0 20px;
		  margin: 0 30px;
	}
	.container {
			max-width:440px;
			margin: auto;
	}
	.section-1{
			background-image: url(/img/фон500.png);
			height: 995px;
	}
	.head-text {
		width: 100%;
		font-size: 30px;
	}

	.head-text p {
		color:  #64616b;
	}

	.social-network {
		width: 70%;
		height: 30%;
	}

	.foto-img-1 {
		position: relative;
		width: 100%;
		height: 50%;
		left: 0px;
		bottom: 20%;
		background-image: url(/img/щенок.png);
		background-size: cover;
	}

	.block-care {
		position: relative;
		width: 100%;
		height: 30%;
		margin: auto;
		top:60%;
		left: 0px;
	}

	.text-care{
		position: relative;
		margin: auto;
		width: 80%;
		font-size: 30px;
		left: 0px;

	}

	.text-care li {
		top: 10%;
		font-size: 20px;
	}
}

@media (max-width: 440px) {
	.container {
			max-width:320px;
			margin: auto;
	}
	.section-1{
			background-image: url(/img/фон320.png);
			height: 995px;
	}
	.info-text  {
		font-size: 35px;
	}
	.foto-img-2 {
		position: relative;
		top: 1%;
		width: 100%;
		height: 48%;
		left: 0%;
		margin: auto;

		background-image: url(/img/dressirovka-sobaki-kinologom-1.jpg);
	  background-size: cover;
	}

	.block-1 {
		margin: auto;
		top: 2%;
		left: 0%;
		width: 100%;
		height: 15%;
		font-size: 25px;
	}

	.block-2 {
		top: 3%;
		left: 0%;
		width: 100%;
		height: 15%;
		font-size: 25px;
	}

}
